@page "/"

<PageTitle>Customize Bootstrap</PageTitle>

<h1>h1. Bootstrap heading</h1>
<h2>h2. Bootstrap heading</h2>
<h3>h3. Bootstrap heading</h3>
<h4>h4. Bootstrap heading</h4>
<h5>h5. Bootstrap heading</h5>
<h6>h6. Bootstrap heading</h6>

<hr/>
<p class="h1">h1. Bootstrap Class</p>
<p class="h2">h2. Bootstrap Class</p>
<p class="h3">h3. Bootstrap Class</p>
<p class="h4">h4. Bootstrap Class</p>
<p class="h5">h5. Bootstrap Class</p>
<p class="h6">h6. Bootstrap Class</p>


<hr/>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>


